html, body {
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  color: #666;
}
#app {
  text-align: center;
  .search {
    width: 60%;
    margin: auto;
    transition-duration: 0.3s;
    .search-input {
      font-size: 0;
      display: flex;
      input {
        flex: 1 1 auto;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #666666;
        height: 40px;
        line-height: 40px;
        padding: 0 0 0 5px;
        box-sizing: border-box;
        border-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        vertical-align: middle;
        outline: 0;
        &:focus {
          box-shadow: 0 0 5px 0 #007bff;
          position: relative;
          border-color: #007bff;
        }
      }
      button {
        flex-shrink: 0;
        height: 40px;
        line-height: 40px;
        border: 1px solid #666;
        width: 100px;
        box-sizing: border-box;
        vertical-align: middle;
        border-top-right-radius: 5px;
        font-size: 16px;
        border-bottom-right-radius: 5px;
        background: #fff;
      }
    }
  }
}
.search-list {
  width: 80%;
  margin: 30px auto;
  .search-item:first-child {
    border-top: none;
    &:hover {
      background: inherit;
    }
  }
  .search-item {
    width: 100%;
    display: flex;
    text-align: left;
    border-top: 1px solid #eee;
    padding: 8px 0;
    word-break: break-word;
    &.bold {
      font-weight: bold;
    }
    .search-item-link {
      width: 80px;
      flex-shrink: 0;
    }
    &:hover {
      background: #eee;
    }
    i {
      background: #696565;
      color: #eee;
      border-radius: 5px;
      font-style: normal;
      padding: 2px;
      font-size: 12px;
    }
    a {
      text-decoration: none;
      &:link {
        color: #007bff;
      }
      &:hover {
        color: #ff6259;
      }
      &:visited {
        color: #696565;
      }
    }
    div {
      font-size: 15px;
      width: 100%;
    }
    div:last-child {
      width: 200px;
      flex-shrink: 0;
      color: #666;
      text-align: right;
    }
    span {
      color: #ff6259;
    }
  }
}
.detail {
  width: 80%;
  margin: 30px auto;
}
.detail-item {
  display: flex;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 8px 0;
  font-size: 15px;
  &:hover {
    background: #eee;
  }
  div {
    text-align: left;
    width: 100%;
  }
  div:last-child {
    text-align: right;
    width: 200px;
    flex-shrink: 0;
  }
}
.detail-info {
  text-align: left;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #eee;
  margin-top: -1px;
  display: flex;
  align-items: baseline;
  div {
    flex: 1 1 auto;
  }
  div:first-child {
    display: inline-block;
    width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    flex: 0 0 auto;
  }
  a {
    color: #496aa7;
  }
}
.detail-list-title {
  margin: 15px 0;
  text-align: left;
  font-weight: bold;
}
.logo {
  background: url(/img/timg.jpg) center center;
  width: 200px;
  height: 200px;
  margin: 100px auto 30px auto;
  background-size: cover;
}
.page {
  font-size: 0;
  margin-bottom: 30px;
  span {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 3px;
    a {
      color: #666666;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: #696565;
      }
    }
    &.active {
      background: #696565;
      color: #fff;
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
  label {
    font-size: 14px;
    margin-left: 15px;
  }
}

.top {
  color: #333;
  text-align: left;
  margin: 10px auto auto auto;
  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: #ff6259;
  }
}


@media screen and (max-width:375px){
  #app {
    .search {
      width: 90%;
    }
  }
}
